.hello:link {
  color: orange;
}

.hello:hover {
  color: green;
  font-family: arial;
  font-size: 30px;
}

.hello:active {
  font-style: italic;
}

.hello:visited {
  color: red;
}

li:nth-child(even) a {
  color:green;
}

li:nth-child(even) a:hover {
  color: red;
}

p:first-of-type {
  color: purple;
}

p:last-of-type {
  color: orange;
}